nav {
    &.primary-navigation {
      margin: 0 auto;
      display: flex;
      width: 100%;
      background-color: white;
    
      padding:  0 0 0;  
      text-align: left;
      font-size: 20px;
      box-shadow: 15px 2px 10px rgba(0, 0, 0, 0.377) ;

      justify-content: space-between;
  
      ul li {
        list-style: none;
        margin: 0 auto;
        display: inline-block;
        padding: 0px 50px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-family: "Kanit", sans-serif;
        font-weight: bold;
      }
  
      li a {
        color: black;
      }
  
      li a:hover {
        color: #05e711;
      }
  
      li:hover {
        cursor: pointer;
      }
  
      ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding-left: 0px;
        left: 200px;
        display: none;
        background: white;
      }
  
      ul li:hover > ul,
      ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        min-width: 250px;
        text-align: left;
        padding-top: 30px;
        box-shadow: 0px 3px 5px -1px #ccc;
      }
  
      ul li ul li {
        clear: both;
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        border-style: none;
      }
  
      ul li ul li a:hover {
        padding-left: 10px;
        border-left: 2px solid #05e711;
        transition: all 0.3s ease;
      }
    }
  }
  
  a {
      text-decoration: none;
      &:hover {
          color: #05e711;
      }
  }
   ul li ul li a { transition: all 0.5s ease; }

.logocab{
    width: 5%;
}
.lupa{
    width: 50px;
    height: 50px;
    text-align: right;
    align-items: center;
    padding-left: 200px;
}
.cab{
    display: flex;
    text-align: left;
    align-items: center;
    letter-spacing: 0;
    padding: 0 10px;
    margin: 10px;
}
.abas{
    justify-content: space-around;
    text-align: left;
    
}
.aba{
    padding-left: 195px;
}